<footer class="footer">
	<div class="container">
		<div class="row footer_content d-flex flex-sm-row flex-column align-items-center">
			<div class="col-sm-6 text-sm-right text-center">
				<div class="footer_social_container">
					<ul class="footer_social">
						<li><a href="#"><i class="fab fa-pinterest trans_300"></i></a></li>
						<li><a href="#"><i class="fab fa-facebook-f trans_300"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter trans_300"></i></a></li>
						<li><a href="#"><i class="fab fa-dribbble trans_300"></i></a></li>
						<li><a href="#"><i class="fab fa-behance trans_300"></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin-in trans_300"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>